.auth-buttons {
  position: absolute;
  top: 16px;
  right: 16px;
}

.auth-buttons button {
  border-radius: 25px;
  background-color: #cfe9ff;
  padding: 20px;
  margin-left: 6px;
  font-size: 14px;
  cursor: pointer;
}
.auth-buttons button:hover {
  background-color: #aed6f8;
}

.content {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: clamp(100px, 4vw, 36px);
  color: black;
  line-height: 1.3;
}

.subtitle {
  color: black;
  font-size: clamp(80px, 2vw, 14px);
}

.welcome-info {
  color: black;
  font-size: clamp(25px, 2vw, 14px);
}
