.content {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: clamp(100px, 4vw, 36px);
  color: black;
  line-height: 1.3;
}

.subtitle {
  color: black;
  font-size: clamp(80px, 2vw, 14px);
}
