body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#6cb7dc, #1c52bd);
  color: #d9e2f1;
  min-height: 100vh;
}

.back-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 4px;
  border: none;
  background-color: #147b73;
  color: #d9e2f1;
  cursor: pointer;
}

.back-button:hover,
.back-button:focus {
  background-color: #319890;
}

.back-button .arrow {
  display: inline-block;
  transform: translateX(0);
  transition: transform 180ms ease, opacity 180ms ease;
  will-change: transform;
  margin-right: 0.5rem;
}

.back-button:hover .arrow,
.back-button:focus .arrow {
  transform: translateX(-6px);
}

form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.control,
fieldset {
  margin: 0.5rem 0;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
}
.control-row {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.control-row .control {
  flex: 1;
}

.control-error {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #ffca99;
  height: 0.5rem;
  padding: 0.25rem 0 0 0;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.control-error p {
  margin: 0;
}

.back-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.register-text {
  margin-top: 12px;
  font-size: 13px;
  text-align: right;
  color: #ccc6c6;
}

.register-text a {
  color: #1976d2;
  text-decoration: none;
  margin-left: 4px;
}

.register-text a:hover {
  text-decoration: underline;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: #f98b75;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}
